:root {
    --dark-color: #34393F;
    --light-color: #fcffff;
    --purple-color: #C000FF;
}



body {
    font-family: Helvetica, sans-serif;
    font-size: 32px;
    line-height: 1.5;
    color: var(--light-color);
    background-color: var(--dark-color);
}


header {
    margin-bottom: 150px;
}

.title,
.subtitle {
    text-align: center;
}

ul {
    list-style: none;

}

.grid-index {
    text-align: center;
    width: 60vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 175px;
}

.index-nav-box {
    padding: 50px;
}


li {
   
    border-radius: 50px;
    background: #34393F;
    box-shadow:  38px 38px 75px #2c3036,
             -38px -38px 75px #3c4248;
}

li:hover{
    color: var(--purple-color);
    background: #34393F;
    box-shadow:  38px 38px 75px #3c4248,
             -38px -38px 75px #2c3036;
}

li:active{
    background-color: var(--purple-color);
    color: var(--dark-color);

}

a {
    text-decoration: none !important;
    color: var(--light-color);
}



/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}